html{
    margin: 0;
    width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,label{
    margin-bottom: 0;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
}
input{
    box-shadow: none !important;
    outline: none !important;
}
.form-style{
    border-radius: 15px;
    padding: 15px;
    max-width: 650px;
    width: 100%;
}
.vh-100{
    height: 100vh;
}
.form-heading{
    font-size: 30px;
}
.form-link{
    color: blue;
    text-decoration: none;
}
.error-msg{
    color: red;
    text-align: left;
    font-size: 13px;
    min-height: 10px;
}